header,
main,
div,
ul,
.title_box,
.counter_box,
.word_box,
.messages_box,
.letter_box,
.checked_box,
.title_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 150px;

    h1 {
        font-size: 74px;
    }
}

main,
.title_box,
.letter_box,
.checked_box {
    flex-direction: column;
}

main {
    flex-direction: column;
    justify-content: flex-start;
    height: 75rem;
    width: 100%;

    div {
        width: 100%;
    }

    ul,
    .title_inputs {
        flex-direction: row;
    }

    .title_box,
    .letter_box,
    .checked_box {
        height: 150px;
    }

    .title_box {
        font-size: 48px;
    }

    .counter_box {
        height: 50px;
        font-size: 28px;
    }

    .word_box {
        height: 150px;
        color: red;

        li {
            margin-left: 12px;
            margin-right: 12px;
            border-bottom: 2px solid black;
            font-size: 56px;
            text-align: center;
        }

        .li_letter {
            border-bottom: 2px solid black;
            width: 40px;
        }
    }

    .messages_box {
        height: 50px;
        width: 70%;
        font-size: 20px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        color: red;
    }

    .letter_box {
        height: 200px;
        .letterInput {
            width: 70px;
            height: 70px;
            text-align: center;
            text-transform: uppercase;
            font-size: 56px;
        }
    }

    .checked_box {
        height: 100px;
        justify-content: flex-start;

        .checkTitle {
            font-size: 26px;
        }
        .checkedLetter {
            font-size: 42px;
        }

        .checkTitle {
            margin-bottom: 15px;
        }
    }

    // INPUTS-----------------------------------
    input[type=submit] {
        height: 50px;
        width: 250px;
    }

    .resetBtn,
    .startBtn,
    .submitBtn {
        border-color: rgb(245, 236, 220);
        background-color: rgb(233, 214, 163);
        font-size: 22px;
    }

    .resetBtn,
    .startBtn,
    .submitBtn {
        margin-top: 20px;
    }

    .resetBtn {
        border-radius: 0 0 50px 0px;
    }
    .startBtn {
        border-radius: 0 0 0px 50px;
    }

    .submitBtn {
        border-radius: 50px 50px 0 0;
    }

    //-----------------------------------------
}